@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f4f4f4;
  --foreground: #171717;
  --texture-url: url('/texture-light.png');
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #303030;
    --foreground: #ededed;
    --texture-url: url('/texture-dark.png');
  }
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;

  background: var(--background) var(--texture-url) repeat;
  background-size: 100px 100px;
}
